/* Barra navegacion */

h1 {
    color: black;
    text-align: center;
    font-family: 'Anton', sans-serif;
    font-weight: bold;
    -webkit-text-stroke: 0.5px white;       
}




p {
    color: black;
    font-family: 'Times New Roman', Times, serif;
}



.boton__menu a:hover {
    background-color: black;
}



/* Footer */

.footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);    
    background-color: black;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: normal 16px sans-serif;
    padding: 45px 50px;
}

.linkedin {
    width: 25px;
}

.github {
    width: 25px;
}

.texto__footer {
    color: white;
    font-size: 25px;
    margin: 0;
    font-weight: bold;
}

.link__arriba {
    display: block;
    text-decoration: none;
    text-align: right;
    color: grey;
    
}

/* Footer */

.footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);    
    background-color: black;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: normal 16px sans-serif;
    padding: 45px 50px;
}

.linkedin {
    width: 25px;
}

.github {
    width: 25px;
}

.texto__footer {
    color: white;
    font-size: 25px;
    margin: 0;
    font-weight: bold;
}

.link__arriba {
    display: block;
    text-decoration: none;
    text-align: right;
    color: grey;
    
}

