/*Noticias*/

#inicio-noticias {
    background-image: url('../imagenes/header/Noticias.jpeg');
    background-position: bottom center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 150vh;
}

.foto__noticias {
    padding: 10px;
    margin: auto;
    display: block;
    width: 30%;
}

.Noticias {
    text-align: center;
    padding: 5px;
    font-size: 50px;
}

.titulo__noticias {
    padding: 5px;
    font-size: 35px;
}

.texto__noticias {
    color: #011638;
    font-weight: bolder;
    font-size: 25px;
    padding: 2rem;
}