/*Noticias*/


.card-novedades {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 50% 50%;
    justify-content: space-between;
    justify-items: center;

}

.cart {
    box-shadow: 0 4px 10px 0 rgba(237, 9, 9, 0.2);
    margin: 40px;
    position: relative;
    max-width: 250px;
    max-height: auto;
    transition: 0.3s;
    border: none;

    &:hover {
        box-shadow: 0 8px 16px 0 rgba(255, 0, 0, 0.4);
    }

    a {
        color: initial;

        &:hover {
            text-decoration: initial;
        }
    }

    .text-muted i {
        margin: 0 10px;
    }
}




@media (max-width: 1024px){
    .card-novedades {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 50% 50%;
    justify-content: space-between;
    justify-items: center;
}}

@media (max-width: 460px){
    .card-novedades {
        width: auto;
        padding: 1px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: inherit;
                justify-items: center;
    }}