@import './Sections/general';
@import './Sections/educadores';
@import './Sections/contacto';
@import './Sections/fotos';
@import './Sections/noticias';
@import './Sections/index';



@import url(https://fonts.googleapis.com/css2?family=Anton&display=swap);

body {
    background-size: cover;
    width: 100%;
    height: 100%;
    max-width: 100%;
}











